aside#right {
  background-color: white;
  width: 20%;
  height: 400px;
  float: right;
}

#info {
  background-color: #dfe0e2;
  border: 2px solid grey;
  border-radius: 15px;
  padding-left: 20px;
}
#arrow {
  width: 10px;
  height: 10px;
}

#issueNo {
  font-weight: bold;
}
#grey {
  color: grey;
}

button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

#progress {
  background-color: #48bb78;
  width: 100%;
  height: 30px;
  border: 1px solid #48bb78;
}

#closed {
  background-color: #1565c0;
  width: 100%;
  height: 30px;
  padding-bottom: 5px;
  border: 1px solid #1565c0;
}
#desc {
  width: 750px;
  margin-bottom: 5px;
}
#main {
  margin-left: 50px;
}
